body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f6f8;
  font-family: Arial, sans-serif;
}

.counter-card {
  background: rgb(218, 218, 218); 
  padding: 20px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.counter-card h2 {
  text-align: center;
  margin-bottom: 12px;
}

#text-input {
  width: 90%;
  height: 120px;
  padding: 10px;
  font-size: 15px;
  resize: none;
  border-radius: 6px;
  border: 1px solid #ccc;
}

#char-count {
  margin-top: 10px;
  font-weight: bold;
  text-align: right;
}
